:root {
  --blackpath0: 'M61 470H62V471H63V473H64V474H65V475H67V474H69V473H70V471H71V469H72V468H69V467H67V466H66V464H65V458H66V454H67V452H68V449H67V447H69V444H68V443H66V441H67V439H68V438H70V439H71V438H72V437H73V436H74V435H76V413V436H79V437H78V440H80V441H81V443H80V445H81V446H82V449H85V450H87V449H89V448H93V449H95V450H96V453H99V454H100V458H99V459H97V460H92V463H87V456H85V457H82V458H83V459H84V460H85V461H86V463H92V465H93V466H94V467H95V468H96V472H95V473H94V474H93V475H91V476H89V475H88V478H87V479H86V480H85V481H84V483H66V481H64V480H63V479H62V478H61V476H60V471H61V470Z';
  --blackpath1: 'M61 448H62V449H63V451H64V452H65V453H67V452H69V451H70V449H71V447H72V446H69V445H67V444H66V442H65V436H66V432H67V430H68V427H67V425H69V422H68V421H66V419H67V417H68V416H70V417H71V416H72V415H73V414H74V413H76V414H79V415H78V418H80V419H81V421H80V423H81V424H82V427H85V428H87V427H89V426H93V427H95V428H96V431H99V432H100V436H99V437H97V438H92V441H87V434H85V435H82V436H83V437H84V438H85V439H86V441H92V443H93V444H94V445H95V446H96V450H95V451H94V452H93V453H91V454H89V453H88V456H87V457H86V458H85V459H84V460H81V464H80V467H81V469H82V471H83V473H84V474H83V475H82V474H81V473H80V471H79V469H78V467H76V469H77V470H78V472H79V473H80V475H79V483V477H78V475H77V474H76V473H75V471H74V470H73V465H74V462H73V461H68V460H66V459H64V458H63V457H62V456H61V454H60V449H61V448Z';
  --flintorange0: 'M61 471H62V473H63V474H64V475H65V476H67V475H69V474H70V473H71V471H72V470H73V464H72V467H69V466H67V464H68V462H67V464H66V458H67V456H68V455H67V454H68V452H69V453H70V452H69V450H70V451H72V452H71V453H70V454H69V457H70V458H72V459H75V458H77V457H79V459H80V461H81V463H80V462H79V461H78V458H77V460H72V461H71V462H72V461H75V462H74V463H73H70H69V459H68V461H69V465H70V463H73V464V469H76V468H78V469H79V470H76V471H75V472H73V473H72V474H71V475H72V474H74V473H75V472H77V471H80V475H82V474H81V471H80V470H82V469H84V468H85V466H86V464H87V463H88V462H89V459H88V456H87V454H89V453H90V452H88V453H86V452H87V450H89V451H90V450H89V449H93V450H95V452H94V451H93V452H92V453H91V454H90V455H89V457H90V458H91V460H89V462V463H91V466H89V467H88V468H86V469H88V468H89V467H92V466H93V467H94V468H95V472H94V473H93V474H92V472H93V471H94V468H93V467H92V468H93V471H92V472H91V473H90V475H89V472H90V470H91V469H90V470H89V471H88V472H87V473H88V475H87V476H85V475H83V476H82V477H81V478H80V479V481H78V480H79V479H80V478V477H81V475H80H79V477H78V479H77V480H76V481H75V482H83H84V483H83V482H82H80V483H73V481H74V480H75V477H73V479H74V480H73V481H72V482H68V481H66V480H64V479H63V478H62V476H61V471Z';
  --flintorange1: 'M61 449H62V451H63V452H64V453H65V454H67V453H69V452H70V451H71V449H72V448H73V442H72V445H69V444H67V442H68V440H67V442H66V436H67V434H68V433H67V432H68V430H69V431H70V430H69V428H70V429H72V430H71V431H70V432H69V435H70V436H72V437H75V436H77V435H79V437H80V439H81V441H80V440H79V439H78V436H77V438H72V439H71V440H72V439H75V440H74V441H73H70H69V437H68V439H69V443H70V441H73V442V447H76V446H78V447H79V448H82V447H84V446H85V444H86V442H87V441H88V440H89V437H88V434H87V432H89V431H90V430H88V431H86V430H87V428H89V429H90V428H89V427H93V428H95V430H94V429H93V430H92V431H91V432H90V433H89V435H90V436H91V438H89V440V441H91V444H89V445H88V446H86V447H88V446H89V445H92V444H93V445H94V446H95V450H94V451H93V452H92V450H93V449H94V446H93V445H92V446H93V449H92V450H91V451H90V453H89V450H90V448H91V447H90V448H89V449H88V450H87V451H88V453H87V454H85V453H83V454H82V455H81V456H80V459H81V460H79V459H78V456H77V454H76V453H75V452H74V453H75V456H76V459H77V464H76V467H75V469H76V470H77V472H78V473H81V471H80V469H79V467H78V464H79V463H80V464H79V467H80V469H81V471H82V473H78V474H77V473H76V471H75V470H74V465H75V462H74V461H73V459H72V460H68V459H66V458H64V457H63V456H62V454H61V449Z';
  --flintskin0: 'M72 442V440H73V439H74V440V442H75V441H74V440H75V438H76V439H77V440H76V441H77V442H78V441H80V443H79V444H77V443H75V444H74V445H73V446H72V448H73V449H74V448H73V446H74V445H75V444H77V445H78V446H79V445H80V446H79V447H76V446H75V447H76V448H77V449H79V448H80V446H81V449H80V450H79V451H81V450H85V451H79V452H85V453H86V455H91V454H93V452H94V454H97V456H98V455H97V454H99V457H98V458H96V457H93V456H92V457H93V458H96V459H93V458H91V457H90V455H86H85V456H82V455H79V456H77V457H75V458V462H76V461H78V462H79V463H80V464H81V465H82V466H83V465H82V463H83V464H84V463H83V462H84V461H82V459H83V460H84V461H85V462H84V463H85V466H84V467H83V468H82V469V477H83V476H85V477H86L90 475V473H91V475H90L86 477V479H85V480H84V481H82V483H80V482H82V480H81V478H82V469H79V468H78V467H77V466H76V465H75V466H76V467H75V468H73V464H74V463H75V458H72V457H71V456H70V454H71V453H79V451H76V450H75V449H74V450H73V449H71V448H70V444H69V443H71V442H72Z';
  --flintskin1: 'M72 420V418H73V417H74V418V420H75V419H74V418H75V416H76V417H77V418H76V419H77V420H78V419H80V421H79V422H77V421H75V422H74V423H73V424H72V426H73V427H74V426H73V424H74V423H75V422H77V423H78V424H79V423H80V424H79V425H76V424H75V425H76V426H77V427H79V426H80V424H81V427H80V428H79V429H81V428H85V429H79V430H85V431H86V433H91V432H93V430H94V432H97V434H98V433H97V432H99V435H98V436H96V435H93V434H92V435H93V436H96V437H93V436H91V435H90V433H86H85V434H82V433H79V434H77V435H75V436V440H76V439H78V440H79V441H80V442H81V443H82V444H83V443H82V441H83V442H84V441H83V440H84V439H82V437H83V438H84V439H85V440H84V441H85V444H84V445H83V446H82V447V455H83V454H85V455H86L90 453V451H91V453H90L86 455V457H85V458H84V459H82V473H83V474H82V473H79V475H78V473H82V460V458H81V456H82V447H79V446H78V445H77V444H76V443H75V444H76V445H75V446H73V442H74V441H75V436H72V435H71V434H70V432H71V431H79V429H76V428H75V427H74V428H73V427H71V426H70V422H69V421H71V420H72Z';
}

#flintride {
  animation: dinoX 12s ease-out infinite;
}

#flintblack {
  animation: pathDB 6s ease-in-out infinite;
}

#flintorange {
  animation: pathDO 6s linear infinite;
}

#flintskin {
  animation: pathDS 6s linear infinite;
}

@keyframes dinoX {
  0% {
    transform: translate(-80px, -100px);
  }
  24% {
    transform: translate(420px, -100px);
  }
  26% {
    transform: translate(420px, -100px);
  }
  49.99% {
    transform: translate(920px, -100px);
  }
  50% {
    transform: translate(1000px, -200px) scaleX(-100%);
  }
  74% {
    transform: translate(520px, -200px) scaleX(-100%);
  }
  77% {
    transform: translate(520px, -200px) scaleX(-100%);
  }
  100% {
    transform: translate(0px, -200px) scaleX(-100%);
  }
}

@keyframes pathDB {
  0% {
    d: path(var(--blackpath1));
  }
  45% {
    d: path(var(--blackpath1));
  }
  50% {
    d: path(var(--blackpath0));
  }
  55% {
    d: path(var(--blackpath1));
  }
  100% {
    d: path(var(--blackpath1));
  }
}

@keyframes pathDO {
  0% {
    d: path(var(--flintorange1));
  }
  45% {
    d: path(var(--flintorange1));
  }
  50% {
    d: path(var(--flintorange0));
  }
  55% {
    d: path(var(--flintorange1));
  }
  100% {
    d: path(var(--flintorange1));
  }
}

@keyframes pathDS {
  0% {
    d: path(var(--flintskin1));
  }
  45% {
    d: path(var(--flintskin1));
  }
  50% {
    d: path(var(--flintskin0));
  }
  55% {
    d: path(var(--flintskin1));
  }
  100% {
    d: path(var(--flintskin1));
  }
}
